/* Login.css */

html, body {
    height: 100%; 
    margin: 0; 
  }
  
  .overlay-image {
    background-image: url('../../assets/cas-logo.png');
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    top: 2%;
    left: 50%;
    transform: translateX(-50%);
    height: 200px;
    width: 600px;
    z-index: 1;
    margin-top: 1%;
    border-radius: 20px;
  }
  .overlay-image::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 73.5%;
    background: linear-gradient(to bottom, rgba(34, 139, 34, 0.3), rgba(34, 139, 34, 0));
    border-radius: 20px;
  
  }
  
  .login-container {
    display: flex;
    height: 100vh;
    background-color: #f4f4f4; 
  }
  
  .login-image {
    flex: 1; 
    position: relative;
    overflow: hidden;
  }
  
  .login-image .background {
    background-image: url("../../assets/cas_building.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    filter: blur(5px); 
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1; 
  
  }
  
  
  .login-form-container {
    flex: 1;
    background-color: #e6f2e6;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    border-radius: 10px; 
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1); 
  }
  
  .login-title-container {
    margin-bottom: 1rem;
    margin-top: -2rem;
  }
  
  .login-title {
    color: #2f6b2f; /* Dark green for title */
    font-weight: bold;
    font-size: 2.8rem;
  }
  
  .user-section{
    width: 100%; /* Full width for sections */
  }
  .admin-section {
    width: 70%;
  }
  
  .login-label {
    color: #2f6b2f; 
    font-size: 1.5rem;
    margin-top: 0.4rem; 
    margin-bottom: 0.5rem; /* Space below labels */
  }
  
  .btn-google {
    background-color: #2f6b2f;
    color: white;
    font-size: 1.1rem; 
    border-radius: 5px; 
  }
  .btn-signup {
    background-color: #2f6b2f; 
    color: white;
    font-size: 1.1rem;
    border-radius: 5px;
  }
  .btn-submit {
    background-color: #2f6b2f;
    color: white;
    font-size: 1.1rem;
    border-radius: 5px; 
    margin-top: 0.7rem;
  }
  
  .or-label {
    color: #555;
    font-size: 1.2rem; 
    margin: 1rem 0; 
  }
  
  hr {
    border-top: 2px solid #2f6b2f;
    width: 80%;
    margin: 20px auto; 
  }
  .ReCapcha{
    display: flex;
    align-content: center;
    justify-content: center;
  }
  .form-check {
    text-align: left;
    margin-left: 25%;  /* Aligns with the Google button */
    width: 50%;        /* Matches the Google button width */
}

.user-section .form-check-label {
    font-size: 0.9rem;
    color: #666;
}
  