/* Login.css */

html, body {
  height: 100%; /* Ensure the body takes the full height of the viewport */
  margin: 0; /* Remove default margins */
}

.overlay-image {
  background-image: url('../components-images/cas-logo.jpg');
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  top: 2%;
  left: 50%;
  transform: translateX(-50%);
  height: 200px;
  width: 750px;
  z-index: 1;
  margin-top: 1%;
  border-radius: 20px;
}
.overlay-image::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 73.5%;
  background: linear-gradient(to bottom, rgba(34, 139, 34, 0.3), rgba(34, 139, 34, 0)); /* Fades from Forest Green to transparent */
  border-radius: 20px;

}

.login-container {
  display: flex;
  height: 100vh; /* Use the full height of the viewport */
  background-color: #f4f4f4; /* Light background for contrast */
}

.login-image {
  flex: 1; /* Allow the image section to take up equal space */
  position: relative;
  overflow: hidden; /* Ensures no content spills out */
}

.login-image .background {
  background-image: url("../components-images/cas_building.jpg");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
  filter: blur(5px); /* Adjust the blur value as needed */
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1; /* Ensure this layer is below the overlay */

}


.login-form-container {
  flex: 1; /* Allow the form section to take up equal space */
  background-color: #e6f2e6; /* Light green background */
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  border-radius: 10px; /* Rounded corners for form */
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
}

.login-title-container {
  margin-bottom: 3rem; /* Space below title */
}

.login-title {
  color: #2f6b2f; /* Dark green for title */
  font-weight: bold;
  font-size: 4.5rem; /* Larger font for title */
}

.user-section, .admin-section {
  width: 100%; /* Full width for sections */
}

.login-label {
  color: #2f6b2f; /* Dark green for section labels */
  font-size: 2.5rem; /* Increased font size for labels */
  margin-top: 1rem; /* Space above labels */
  margin-bottom: 0.5rem; /* Space below labels */
}

.btn-google {
  background-color: #2f6b2f; /* Dark green for button */
  color: white;
  font-size: 1.1rem; /* Larger font for buttons */
  border-radius: 5px; /* Rounded corners for buttons */
}

.or-label {
  color: #555; /* Subtle color for 'Or' text */
  font-size: 1.2rem; /* Slightly larger than normal text */
  margin: 1rem 0; /* Space above and below */
}

hr {
  border-top: 2px solid #2f6b2f; /* Dark green for hr */
  width: 80%; /* Width for hr */
  margin: 20px auto; /* Center hr with margin */
}
